.sidebar {
  background-color: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.sidebar-header img {
  background-color:white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 60px;
}

.avatar-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-info {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}
.avatar-info h4 {
  color: #222;
  font-weight: bold;
}

.avatar-info p {
  color: #555;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
    margin: 0;
  flex: 1;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  margin-left:9px;
}

.sidebar-menu li svg {
  width: 20px;
  flex-shrink: 0;
}

.sidebar-menu li span {
  white-space: nowrap;
}

.sidebar-menu li:hover {
  background-color: #e0e0e0;
}

.sidebar-footer {
  padding: 10px;
  text-align: center;
}

.sidebar-footer button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.sidebar-menu li a,
.submenu li a {
  color: #fff;
  text-decoration: none;
}

.sidebar-menu li a:hover,
.submenu li a:hover {
  color: #111;
}
